{% extends 'base.html.twig' %}

{% block title %}New TypeDeQuestion{% endblock %}

{% block body %}
    <h1>Create new TypeDeQuestion</h1>

    {{ include('type_de_question/_form.html.twig') }}

    <a href="{{ path('type_de_question_index') }}">back to list</a>
{% endblock %}
