{% extends 'base.html.twig' %}

{% block title %}Ajouter une Réponse{% endblock %}

{% block body %}
<div class="center container">
    <fieldset>
        <h1>Ajouter une Réponse</h1>

        {{ include('reponse/_form.html.twig') }}

        <a href="{{ path('reponse_index') }}" class="btn orange">Annulez !</a>
    </fieldset>
</div>
{% endblock %}
