{% extends 'base.html.twig' %}

{% block title %}Modifier une Question{% endblock %}

{% block body %}
    <div class="center container">
        <fieldset>
            <h1>Question</h1>

            {{ include('question/_form.html.twig', {'button_label': 'Modifier'}) }}

            {{ include('question/_delete_form.html.twig') }}

            <a href="{{ path('question_admin') }}" class="btn orange">Annulez !</a>
        </fieldset>
    </div>
{% endblock %}
