{% extends 'base.html.twig' %}

{% block title %}Ajouter une Question{% endblock %}

{% block body %}
<div class="center container">
    <fieldset>
        <h1>Ajouter une Question</h1>

        {{ include('question/_form.html.twig') }}

        <a href="{{ path('question_admin') }}" class="btn orange">Annulez !</a>
    </fieldset>
</div>
{% endblock %}
