{% extends 'base.html.twig' %}

{% block title %}Gestion des utilisateurs{% endblock %}

{% block body %}
    {% if is_granted('ROLE_ADMIN') %}
        <div class="center container">
            <h1>Gestion des utilisateurs </h1>
            <div class="blocs">
                <a href="{{ path('utilisateur_index') }}" class="orange btnBloc"><div class="bloc"><i class="fas fa-user-alt"></i><h3>Utilisateurs</h3></div></a>
                <a href="{{ path('anonyme_index') }}" class="orange btnBloc"><div class="bloc"><i class="fas fa-clipboard-list"></i><h3>Anonymes</h3></div></a>
                <a href="{{ path('profil_admin') }}" class="vert btnBloc"><div class="bloc"><i class="fas fa-user-alt"></i><h3>Profil</h3></div></a>

            </div>
            <div class="centerbtn"> 
                <a href="{{ path('admin') }}" class="btn orange">Retour</a>
            </div>
        </div> 
    {% endif %} 
{% endblock %}
