{% extends 'base.html.twig' %}

{% block title %}Modifier un Utilisateur{% endblock %}

{% block body %}
    <div class="center container">
        <fieldset>
            <h1>Utilisateur</h1>

            {{ include('utilisateur/_form.html.twig', {'button_label': 'Modifier'}) }}

            {{ include('utilisateur/_delete_form.html.twig') }}
            
            <a href="{{ path('utilisateur_index') }}" class="btn orange">Annulez !</a>
        </fieldset>
    </div>
{% endblock %}
