{% extends 'base.html.twig' %}

{% block title %}Ajouter un Utilisateur{% endblock %}

{% block body %}
    <div class="center container">
        <fieldset>

            {% if app.user %}
                {% if is_granted('ROLE_ADMIN') %}
                    <h1>Ajouter un Utilisateur</h1>
                {% endif %}
            {% else %}
                <h1>Inscription</h1>
            {% endif %}
            

            {{ include('utilisateur/_form.html.twig') }}

            {% if is_granted('ROLE_ADMIN') %}
                <a href="{{ path('utilisateur_index') }}" class="btn orange">Annulez !</a>
            {% else %}
                <a href="{{ path('app_login') }}" class="btn orange">Annulez !</a>
            {% endif %}
           </fieldset>
    </div>
{% endblock %}
