/* ------------------------------ CSS -- */
@charset "utf-8";

header, section, footer, aside, nav, main, article, figure {
    display: block; 
}

div, header, nav, article, section, aside, footer, h1, h2, h3, h4, h5, h6, p, a, ul, li, figure, figcaption, class, img { 
	margin: 0;
	padding: 0;
}
*{
    box-sizing: border-box;
}
html, body {
	height: 100%;
	background-color: #ffffff;
	border: 0 solid transparent;
	font-size: 16px;
	margin: 0;
	min-height: 100%;
	padding: 0;
	width: 100%;
	display: block;
	font-family: 'Manrope', sans-serif;
}

img, object, embed, canvas, video, audio, picture {
	max-width: 100%;
	height: auto;
}
img {
    display: block;
}
a {
    text-decoration: none;
    transition: all .5s;
}
a:hover{
    text-decoration: none;
    transform: scale(1.1);
}
li {
    list-style-type: none;
}
/* ------------------------------- RECURENTES -- */
.centrer{
    width: 80vw;
    margin: 0 auto;
}
.center {
    width: 80vw;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

:root {
    --color-bleu: #2b9fad;
    --color-bleu-clair: #bddee1;
    --color-orange: #e9a93a;
    --color-vert: #b2c33b;
    --color-gris: #727272;
    --color-noir: #000000;
    --color-blanc: #ffffff;
    --color-ombre:3px 3px 10px hsla(0, 0%, 0%, 0.5);

}
h1{
    margin: 5vh 0 2vh 0;
    font-weight: 400;
    font-size: 1.8em;

}
h2{
    text-align: center;
    font-weight: 400;
    margin:2vw 0;
}
h3{
    font-weight: 400;
    color: var(--color-blanc);
}
h4{
    font-family: 'Delius Swash Caps', cursive;
    font-size: 3em;
}
.espace{
    flex: 1;
}
/* ---------BLOC ------------------------*/
.blocs{
    display: flex;
    flex-wrap: wrap;
}

 a.btnBloc{
    color: var(--color-blanc);
    font-size: 1.2em;
    text-align: center;
    width: calc(30% - .5vw);
    min-height: 16vh;
    margin: 1vw;
    padding: 2vw 4vw;
    border-radius: 20px;
     display: flex;
     justify-content: center;
    align-items: center; 
    transition: all .5s;
}
 a.btnBloc:hover{
    box-shadow: var(--color-ombre);
}
.vert{
    background-color: var(--color-vert);
}
.orange{
    background-color: var(--color-orange);
}
.bleu{
    background-color: var(--color-bleu);
}
.bloc{
    display: flex;
    flex-direction: column;
}
.bloc i{
    font-size: 1.8em;
    padding: 1vw;
}
.blocAdmin{
    background-color: var(--color-orange);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    width: calc(30% - .5vw);
    justify-content: center;
    align-items: center;
    margin: 1vw;
    padding: 2vw 4vw;
    text-align: center;
}
.blocAdmin .action a{
    color: var(--color-blanc);
    margin: .5vw;
    font-size: 1.5em;
}
/* ------------------------------- BOUTON -- */
button{
    border: 0;
    cursor: pointer;
}
div.centerbtn{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.btn{
    font-size: 1em;
    border-radius: 20px;
    color: var(--color-blanc);
    padding: 1vw 6vw;
    margin: 1vw 2vw 1vw 2vw;
    text-align: center;
    transition: all .5s;
}
.btn:hover{
    transform: scale(1.1);
    box-shadow: var(--color-ombre);
}
/* ------------------------------- FORM -- */
fieldset{
    width: 40vw;
    border-radius: 20px;
    box-shadow: var(--color-ombre);
    border:solid 3px var(--color-bleu-clair);
    margin-top: 10vh;
    padding: 0 4vw;
    background-color: #ffffff1a;
    display: flex;
    flex-direction: column;

}
form{
    display: flex;
    flex-direction: column;
}
form div{
    display: flex;
    flex-direction: column;
    padding: 0 1vw;
}
input{
    background-color: var(--color-bleu-clair);
    border: 0;
    line-height: 30px;
    text-indent: 10px;
}

/* ------------------------------- LISTE -- */
table{
    border: solid 3px var(--color-bleu-clair);
    border-radius: 20px;
}
table thead{
    color: var(--color-blanc);
    line-height: 30px;
}
tr{
    display: flex;
    /* width: 80vw; */
}
tr th, tr td{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}
tr .flexG{
    flex: 2;
}
tr .flexP{
    flex: 0.5;
}
td a {
    margin: 0 1vw;
    color: var(--color-noir);
}
.scroll{
    overflow: scroll;
     max-width: 200px;
}
.reponses{
    display: flex;
    flex-direction: column;
}
.reponses p{ 
    width: 100%;
    display: flex;
}
.reponses p b{
    flex: 1;
}
.reponses p span{
    flex: 0.3;
}
/* ------------------------------- CONNEXION -- */
.ligne{
    margin-top: 10vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 80vw;
    border-radius: 20px;
    border: solid 3px var(--color-bleu-clair);
}
.gauche{
    flex: 1;
    padding: 0 2vw 3vw 2vw;

}
.gauche h1{
    text-align: center;
}

.droite{
    flex: 1;
    background-color: var(--color-bleu);
    color: var(--color-blanc);
    border-radius: 0 20px 20px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 10vw;
}
.droite p{
    font-size: 0.8em;
    text-align: center;
}
.hidden{
    display: none;
}
/* ------------------------------- END RECURENTES -- */

/* ------------------------------- NAV -- */
nav {
    background-color:var(--color-bleu);
}
div.nav{
    display: flex;
    align-items: center;
}
div.nav a{
    flex: 0.5;
}
div.nav ul{
    flex: 2;
    display: flex;
    align-items: center;
}
div.nav ul li{
    flex: 1;
    display: flex;
    align-items: center;
    flex-direction: column;
    
}
div.nav ul li a{
    flex: 1;
    color: var(--color-blanc);
    transition: all .5s;
}
div.nav ul li:hover a{
    transform: scale(1.2);
}
div.nav ul li a i{
    padding-right: 1vw;
    
}


/* ------------------------------- MODIF -- */
fieldset.form-group{
    margin-top: 0;
    box-shadow: var(--color-blanc);
}
select{
    border: none;
}

/* ------------------------------- QUIZ-- */
/* .titreQuiz{
    background-color: var(--color-vert);
    border-radius: 20px 20px 0 0;
    width: 79.5vw;
    color: var(--color-blanc);
    text-align: center;
    font-weight: 400;
    margin:2vw 0;
    padding: 2vw 0;
    font-size: 1.3rem;
} */
/* .reponseQuiz{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 1vw 0 1vw 30vw;
} */
/* .reponseQuiz input{
    margin: 0 1vw;
}
.reponseQuiz label{
    margin-bottom: 0;
} */
.quiz{
    display: flex;
    flex-direction: column ;
    width: 100%;
}
p{
    text-align: center;
}
/* .quiz_identifiant{
    display: flex;
    flex-direction: row;
}
.quiz_identifiant div{
    flex: 1;
} */
fieldset.form-group{
    border: 0;
    padding: 0;
    width: auto;
}
legend.col-form-label {
    text-align: center;
    background-color: var(--color-vert);
    border-radius: 20px 20px 0 0;
    color: var(--color-blanc);
    font-weight: 400;
    margin:2vw 0;
    padding: 1.5vw 0;
    font-size: 1.3rem;
}

div.form-check{
    padding: 1vh 2vw;
}
input#form_utilisateur{
    background-color: var(--color-bleu-clair);
    border: 0;
}
/* ------------------------------- RESULTAT-- */
.reponseResultat{
    display: flex;
    flex-direction: column;
}

/* ------------------------------- quizImage-- */
.quizImage{
    width: 50vw;
    margin: 0 auto;
}
#choises li img {
    display: block;
    z-index: 3;
    width: 10vw;
    height: 12vh;
    transition: all .2s;
}
#choises li img:hover{
    transform: scale(1.4);
}
li{
    list-style-type: none;
}
#choises{
    display: flex;
    margin: 0;
    padding: 0;
    flex-wrap: wrap;
    justify-content: center;
}
#choises li{
    margin: 2vw;
    width: 10vw;
    height: 12vh;
    cursor: pointer;
}

.reponseImage{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
#answers ul li{
    margin: 2vw;
    padding: 1vw;
    width: 10vw;
    height: 12vh;
    border: dashed 3px var(--color-bleu-clair);
}

#answers p {
    text-align: center;
}

/* ------------------------------- FOOTER-- */
footer{
    background-color: var(--color-bleu);
    display: flex;
    justify-content: center;
    margin-top: 6vw;
}
footer img{
    padding: 1vw 2vw;
    width: 150px;
}


.container{
    min-height: 70vh;
}