{% extends 'base.html.twig' %}
{% block body %}
<section class="jumbotron">
    <div class="text-center">  
        <h1>Bienvenue dans la bibliothèque</h1>
        <hr>
    </div>
    <div class="text-justify">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat porro iusto corporis a, eos voluptas, aliquid praesentium nulla reiciendis omnis aspernatur. Accusantium, eligendi iste? Dicta quidem illum ad obcaecati assumenda aliquam laborum ex iste velit, nam, minus quae autem accusantium.</p>
        <p>Omnis enim, aliquid provident beatae dolores voluptate ullam reprehenderit aut rem minima tenetur culpa doloribus labore ex molestias dolorum deleniti laboriosam error reiciendis! Doloremque adipisci inventore eos, quae rerum incidunt laboriosam iure, in ut molestias fugit suscipit dolorum aliquam nisi.</p>
    </div>
</section>
{% endblock %}

