<form method="post" action="{{ path('reponse_utilisateur_delete', {'id': reponse_utilisateur.id}) }}" onsubmit="return confirm('Êtes-vous sûr de bien vouloir supprimer cet élément?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ reponse_utilisateur.id) }}">
    <button><i class="fas fa-trash"></i></button>
</form>
