{% extends 'base.html.twig' %}

{% block title %}FinQuestionnaire{% endblock %}

{% block body %}

    <h2>Merci d'avoir répondu au questionnaire</h2>

    <div class="centerbtn">
        <a href="{{ path('home') }}" class="btn orange">Retour</a>
    </div>




{% endblock %}