{% extends 'base.html.twig' %}

{% block title %}ReponseUtilisateur index{% endblock %}

{% block body %}
    <h1>ReponseUtilisateur index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for reponse_utilisateur in reponse_utilisateurs %}
            <tr>
                <td>{{ reponse_utilisateur.id }}</td>
                <td>
                    <a href="{{ path('reponse_utilisateur_show', {'id': reponse_utilisateur.id}) }}">show</a>
                    <a href="{{ path('reponse_utilisateur_edit', {'id': reponse_utilisateur.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="2">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('reponse_utilisateur_new') }}">Create new</a>
{% endblock %}
