{% extends 'base.html.twig' %}

{% block title %}Quiz{% endblock %}

{% block body %}
<div class="center container">
    <div class="ligne">
        <div class="quiz">

            {{ include('reponse_utilisateur/_form.html.twig') }}

            <div class="centerbtn">
                <a href="{{ path('home') }}" class="btn orange">Retour</a>
            </div>
        </div> 
   </div>
</div>
{% endblock %}

