{% extends 'base.html.twig' %}

{% block title %}Questionnaire{% endblock %}

{% block body %}
<div class="center container">
    <h1>Questionnaire </h1>
    <div class="blocs">
        {% for questionnaire in questionnaires %}
            <!--Liens doit mener aux questions du questionnaire !!!-->
            <a href="{{ path('question_quiz', {'id': questionnaire.id}) }}" class="vert btnBloc">
                <div class="bloc">
                    <h3>{{ questionnaire.libelleQuestionnaire }}</h3>
                </div>
            </a>
        {% else %}
                <p>Il n'y a pas de questionnaire &#128546;</p>
        {% endfor %}
       <a href="{{ path('quiz_image_quizImage') }}" class="bleu btnBloc"><h3> Quiz Images</h3> </a>   
    </div>

</div>


{% endblock %}
